<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Passwort zurücksetzen – Flowline</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>
  <div class="reset-container">
    <h1 class="reset-title">Passwort zurücksetzen</h1>
    <p class="reset-info">Gib deine E‑Mail ein, um einen Bestätigungscode zu erhalten.</p>

    <form onsubmit="sendResetMail('/password-reset/verify'); return false;" id="reset-form">
      <div class="reset-field">
        <label for="reset-email">E‑Mail Adresse</label>
        <input type="email" id="reset-email" name="email" placeholder="E‑Mail eingeben" required>
      </div>

      <button type="submit" class="btn-primary">Code senden</button>
    </form>
  </div>

  <div class="text-center text-xs text-gray-400 mt-4 mb-4">
      <div class="mb-1">
          <a href="#" class="underline text-gray-500">Nutzungsbedingungen</a>
          <span class="mx-2">|</span>
          <a href="#" class="underline text-gray-500">Datenschutz</a>
      </div>
      <div>© 2026 <a href="#" class="underline text-gray-500">Flowline</a>. Alle Rechte vorbehalten.</div>
  </div>

  <div id="error-popup" class="popup">
    <div id="error" class="error"></div>
  </div>
</body>
<script>
  let popupTimeout = null;

  var socket = io();

  socket.on("connect", () => {
     socket.emit("join_room", { room: "{{ room_id }}" });
  });

    socket.on("error", (data) => {
    document.getElementById("error").textContent = data.error;
    const popup = document.getElementById("error-popup");

    if (popup && popupTimeout == null) {
      popup.classList.add("show");
      popupTimeout = setTimeout(() => {
        popupTimeout = null;
        popup.classList.remove("show")
        }, 5000
      );
    }
  });

  async function sendResetMail(actionUrl) {
    const email = document.getElementById("reset-email");
    const formData = new FormData();

    formData.append("email", email.value);

    const res = await fetch(actionUrl, {
      method: "POST",
      body: formData
    })

    const data = await res.json().catch(() => null);

    if (res.ok) {
      sessionStorage.setItem("reset_token", data.reset_token);
      window.location.href = "/password-reset/enter-code";
    } else {
      const data = await res.json().catch(() => null);
      console.log(data?.error);
    }
  }
</script>
</html>
